
//colors
$base-color: rgb(76,129,210);
$base-darker-color: rgba(62, 105, 141, 0.66);
$base-ligher-color: rgba(76, 130, 210, 0.144);
$white-color: #ffffff;
$second-color: rgb(250, 250, 250);

//font-sizes
$info-size: 0.75rem;
$input-size: 0.875rem;
$tag-size: 0.875rem;
$title-size: 1.2rem;
$subtitle-size: .875rem;

//border
$base-radius: .75rem;
$base-border: 2px solid $base-darker-color ;