@tailwind base;
@tailwind components;
@tailwind utilities;

@import './variables';

body {
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 0;
    font-size: 2rem;
}

.pointer {
    cursor: pointer;
}

.badge-primary {
    // background-color: $base-color;
}

.divider-based {
    
}

.MuiSvgIcon-colorPrimary {
    color: $base-color !important;
}

.btn-primary {
    color: $white-color;
}